{% load static %} {% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="pt-br" class="h-100">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="autor" content="Carla Oliveira e Natani Cavalcante" /> {% block titulo %}
    <title>Loja Virtual</title>
    {% endblock %}
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
</head>

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-md bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}"></a>
            <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">

                    <li class="nav-item mx-1 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'index' %}">Início</a></li>
                    <li class="nav-item mx-1 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'listar-produto' %}">Produtos</a></li>
                    <li class="nav-item mx-1 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'sobre' %}">Sobre</a></li>
                    {% if request.user.is_authenticated and request.user.groups.all.0.name == "cliente" %}
                    <li class="nav-item mx-1 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'listar-carrinho' %}">Meus Produtos</a></li>

                    {% endif %} {% if request.user.is_authenticated and request.user.groups.all.0.name == "Administrador"%}
                    <li class="nav-item dropdown mx-1 mx-lg-1 my-2"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Listas</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'listar-estado' %}">Estado</a></li>
                            <li><a class="dropdown-item" href="{% url 'listar-cidade' %}">Cidade</a></li>
                            <li><a class="dropdown-item" href="{% url 'listar-produto' %}">Produto</a></li>
                            <li><a class="dropdown-item" href="{% url 'listar-categoria' %}">Categoria</a></li>
                            <li><a class="dropdown-item" href="{% url 'listar-fornecedor' %}">Fornecedor</a></li>
                            <li><a class="dropdown-item" href="{% url 'listar-pessoa' %}">Perfis</a></li>
                        </ul>
                    </li>
                    {% endif %} {% if request.user.is_authenticated and request.user.groups.all.0.name == "Administrador" %}
                    <li class="nav-item dropdown mx-1 mx-lg-1 my-2"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Cadastros</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'cadastrar-estado' %}">Estado</a></li>
                            <li><a class="dropdown-item" href="{% url 'cadastrar-cidade' %}">Cidade</a></li>
                            <li><a class="dropdown-item" href="{% url 'cadastrar-produto' %}">Produto</a></li>
                            <li><a class="dropdown-item" href="{% url 'cadastrar-categoria' %}">Categoria</a></li>
                            <li><a class="dropdown-item" href="{% url 'cadastrar-fornecedor' %}">Fornecedor</a></li>
                        </ul>
                    </li>
                    {% endif %} {% if request.user.is_authenticated %}
                    <div class="dropdown me-5">
                        <button class="btn btn-light dropdown-toggle my-2" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ request.user }}
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="#">Meu perfil</a></li>
                            <li><a class="dropdown-item" href="#">Alterar senha</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Sair</a></li>
                        </ul>
                    </div>
                    <span class="me-3">&nbsp;</span> {% else %}
                    <a href="{% url 'login' %}" class="btn btn-light mb-3 my-2 me-2">Login</a>
                    <a href="{% url 'registrar' %}" class="btn btn-success mb-3 my-2 mr-2">Registrar</a> {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <main class="flex-shrink-0">
        <div class="container">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <!-- início do conteúdo -->
            {% block conteudo %}

            <h1>Espaço para conteúdo</h1>

            {% endblock %}
            <!-- fim do conteúdo -->
            <br>
            <br>
        </div>
    </main>

    <footer class="footer mt-auto py-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <h4 class="pt-2 mb-3">Redes sociais</h4>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a>
                </div>
                <div class="col-lg-6">
                    <h4 class="pt-2 mb-1">Sobre o site</h4>
                    <p class="lead mb-0">
                        Desenvolvido por Carla Oliveira e Natani Cavalcante. <br/> Projeto das disciplinas de desenvolvimento WEB.
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

</body>

</html>