{% extends 'paginas/modelo.html' %} 

{% load static %} 

{% block titulo %}
<titulo> Sobre</titulo>
{% endblock %}

<body>

    {% block conteudo %}
    <h2 style="text-align: center;">Página sobre</h2>
    <ul id="text" style="margin: 10px;">
        <li> Este site tem o objetivo de funcionar como um meio de vendas/ loja virtual de artigos religiosos e produtos diversos, <br/> facilitando o processo de compra, pagamentos e envio dos produtos. Dessa forma o cliente não precisa se locomover para
            garantir o seu produto com qualidade e segurança. </li>
        <li> Este projeto está sendo desenvolvido pelas alunas do 4º ano do curso técnico de Informática integrado ao Ensino Médio <br/> do IFPR Campus Paranavai, Carla Santos Oliveira e Natani G. Boço Cavalcante. </li>
        <li> O desenvolvimento deste site é parte do processo avaliativo das Disciplinas de Programação para Web e Projeto de Interfaces para Web.</li>
    </ul>
    {% endblock %}
    <img src="{% static 'imagens\classes.png' %}" alt="Diagrama de Classes" width="600" height="450" style="margin: 15px;">
    <img src="{% static 'imagens\casodeuso.png' %}" alt="Diagrama de Caso de uso" width="600" height="350" style="margin: 15px;">
</body>
<style>

</style>