{% extends 'paginas/modelo.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block conteudo %}
<hr>
<div class="container">
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>Usuário</th>
                <th>Data da compra</th>
                <th>Valor do pedido</th>
                <th>Desconto</th>
                <th>Tipo de entrega</th>
                <th>Frete</th>
                <th>Valor total</th>
                <th>Tipo de pagamento</th>
                <th>Previsão de entrega</th>
                <th>CEP</th>
                <th>Lougradouro</th>
                <th>Número</th>
                <th>Bairro</th>
                <th>Complemento</th>
                <th>Cidade</th>
                <th></th>
            </tr>
        
            {% for pessoa in object_list %}
        
            <tr>
                <td>{{venda.comprador.nome}}</td>
                <td>{{venda.data_compra}}</td>
                <td>{{venda.total_produtos}}</td>
                <td>{{venda.desconto}}</td>
                <td>{{venda.tipo_entrega}}</td>
                <td>{{venda.frete}}</td>
                <td>{{venda.valor}}</td>
                <td>{{venda.tipoPagamento}}</td>
                <td>{{venda.previsao_entrega}}</td>
                <td>{{venda.cep_entrega}}</td>
                <td>{{venda.logradouro}}</td>
                <td>{{venda.numero}}</td>
                <td>{{venda.bairro}}</td>
                <td>{{venda.complemento}}</td>
                <td>{{venda.cidade.nome}}</td>
                <td>
                    <a href="{% url 'editar-venda' venda.pk %}" class="btn btn-warning btn-sm" title="Editar">Editar</a>
                    <a href="{% url 'deletar-venda' venda.pk %}" class="btn btn-danger btn-sm" title="Excluir">Excluir</a>
                </td>
            </tr>
        
            {% empty %}
            <tr>
                <td colspan="16">Nenhuma venda cadastrada!</td>
            </tr>
            {% endfor %}    
    
        </table>
    </div>
</div>

{% endblock %}